.item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  background-color: var(--cards);
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  gap: 1rem;
  font-size: large;
}

.item-container:active {
  transform: scale(0.98);
  transition: 0.1s;
}

.done {
  text-decoration: line-through;
  color: var(--primary);
}

button {
  background: none;
  border: none;
  color: var(--secondary);
}
