:root.light {
  --bg: #ede9fe;
  --primary: #2e1065;
  --secondary: #334155;
  --hover: #d8d8d8;
  --menu: #ddd6fe;
  --highlight: #8b5cf6;
  --cards: #6d28d9;
  --cards-highlight: #7c3aed;
}

:root.dark {
  --bg: #14072c;
  --primary: #ede9fe;
  --secondary: #94a3b8;
  --hover: #2e1065;
  --menu: #64748b;
  --highlight: #6d28d9;
  --cards: #2e1065;
  --cards-highlight: #4c1d95;
}

body {
  margin: 1em;
  background-color: var(--bg);
  color: var(--secondary);
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
}

main {
  width: 90%;
  margin: 0 auto;
}
